openapi: 3.0.3
info:
  title: MedoEDUz API
  description: API для образовательной платформы MedoEDUz
  version: 1.0.0
  contact:
    name: MedoEDUz Support
    email: info@medoeduz.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.medoeduz.com/v1
    description: Production server
  - url: https://staging-api.medoeduz.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Development server

tags:
  - name: Authentication
    description: Аутентификация и авторизация
  - name: Courses
    description: Управление курсами
  - name: Enrollments
    description: Регистрация на курсы
  - name: Contact
    description: Контактная форма
  - name: Testimonials
    description: Отзывы
  - name: Users
    description: Управление пользователями

paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Регистрация нового пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
              properties:
                name:
                  type: string
                  example: Иван Иванов
                email:
                  type: string
                  format: email
                  example: ivan@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: securePassword123
                phone:
                  type: string
                  example: "+79991234567"
      responses:
        '201':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Вход пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'

  /courses:
    get:
      tags:
        - Courses
      summary: Получить список курсов
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: level
          in: query
          schema:
            type: string
            enum: [beginner, intermediate, advanced]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Список курсов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoursesResponse'

  /courses/{id}:
    get:
      tags:
        - Courses
      summary: Получить курс по ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Детали курса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseDetailResponse'

  /contact:
    post:
      tags:
        - Contact
      summary: Отправить сообщение
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        '200':
          description: Сообщение отправлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

components:
  schemas:
    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            userId:
              type: string
            token:
              type: string
            refreshToken:
              type: string

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            token:
              type: string
            refreshToken:
              type: string
            user:
              $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email

    Course:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        category:
          type: string
        level:
          type: string
          enum: [beginner, intermediate, advanced]
        duration:
          type: string
        price:
          type: number
        currency:
          type: string

    CoursesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            courses:
              type: array
              items:
                $ref: '#/components/schemas/Course'
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer

    CourseDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Course'

    ContactRequest:
      type: object
      required:
        - name
        - email
        - message
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        course:
          type: string
        message:
          type: string

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

  responses:
    BadRequest:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
